<h1>Pending matches:</h1>

<ul>
  <% pendingMatches.forEach(match => { %>
    <% const { proposerBookInstance, proposeeBookInstance } = match;%>
    <% if (proposeeBookInstance.userId === currentUser.id) { %>
      You're being offered <%= proposerBookInstance.book.title %> for your <%= proposeeBookInstance.book.title %>
    <%}})%>
</ul>
