<h1>Hello world</h1>
<p>
  App web version
  <%= appVersion %>
</p>
<div id="react-app">Here a React app will be rendered</div>
<a href="users/new.html.ejs">Sign Up</a>
<a href="login.html">Sign In</a>