<% if (bookInstance) { %>
  <form action="<%= destroyBookInstancePath(bookInstance) %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" class="button secondary" value="Don't have it" />
  </form>
<% } else { %>
  <form action="<%= newBookInstancePath %>" method="post">
    <input type="hidden" name="bookId" value="<%= book.id %>"/>
    <input type="hidden" name="state" value="2"/>
    <input type="hidden" name="comment" value="Not that good"/>
    <input type="submit" class="button secondary" value="Have it" />
  </form>
<%}%>

