<div>
  <form action="<%= submitReviewPath %>" method="post" class="review">
    <% if (locals.reviewErrors) { %>
      <p class="errors">Check the following errors:</p>
      <ul>
        <% Object.keys(reviewErrors).forEach(prop => { %>
          <li><%= prop %>: <%= reviewErrors[prop].message %></li>
        <% }) %>
      </ul>
    <% } %>
    <div class="review-area">
      <textarea type="text" name="comment" placeholder="Write something..."></textarea>
      <input type="number" hidden="true" min="1" max="5" required="true" name="rating" value="3"/>
      <div>
        <div class="rating">
          <i class="fa fa-star filled select" id="1"></i>
          <i class="fa fa-star filled select" id="2"></i>
          <i class="fa fa-star filled select" id="3"></i>
          <i class="fa fa-star empty select" id="4"></i>
          <i class="fa fa-star empty select" id="5"></i>
        </div>
        <input type="submit" class="button primary" name="create" value="Submit" />
      </div>
    </div>
  </form>
</div>

<script>
$('i.select').click((e) => {
  const ratingStar = parseInt(e.target.id, 10);
  $('input[name=rating]').val(ratingStar);
  for (let i = 1; i <= ratingStar; i++) {
    $(`i.select#${i}`).removeClass('empty').addClass('filled');
  }
  for (let i = ratingStar + 1; i <= 5; i++) {
    $(`i.select#${i}`).removeClass('filled').addClass('empty');
  }
});
$('i.select').mouseover((e) => {
  const ratingStar = parseInt(e.target.id, 10);
  for (let i = 1; i <= ratingStar; i++) {
    $(`i.select#${i}`).addClass('select-hover');
  }
});
$('i.select').mouseout((e) => {
  const ratingStar = parseInt(e.target.id, 10);
  for (let i = 1; i <= ratingStar; i++) {
    $(`i.select#${i}`).removeClass('select-hover');
  }
});
</script>
