<div>
    <form action="<%= newInterestPath %>" method="post">
        <form action="<%= newBookInstancePath %>" method="post">
            <input type="hidden" name="bookId" value="<%= book.id %>"/>
            <input type="submit" value="Want it" />
          </form>
    </form>
</div>
