<div class="error">
  <h1 class="title">Unauthorized</h1>
  <p class="message">Access denied due to invalid credentials.</p>
  <iframe src="https://giphy.com/embed/l41JQAOSwDqTAi54A" width="528" height="293" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p>Error code: 401</p>
</div>
