<div class="error">
    <h1 class="title">Oops!</h1>
    <p class="message">We can't seem to find the page you're looking for.</p>
    <iframe src="https://giphy.com/embed/Mj1QjRKM14ifC" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>Error code: 404</p>
</div>