.section-title {
    font-weight: normal;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    img {
        max-height: 350px;
    }
    .info {
        width: 70%;
        margin-left: 20px;
        h1 {
            font-weight: normal;
            margin-top: 0;
            #author {
                font-style: italic;
                a {
                    text-decoration: none;
                }
            }
        }
        p {
            text-align: justify;
            .label {
                font-weight: bold;
            }
        }
    }
}

.bottom-container {
    display: flex;
    margin: 0 4%;
}

.genres-section {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    a {
        text-decoration: none;
        margin-bottom: 10px;
    }
    a:hover {
        text-decoration: underline;
    }
}