.button {
  min-height: 30px;
  margin: 0px 5px;
  padding: 0 20px;
  border: 0px none transparent;
  border-radius: 15px;
  font-size: 14px;
  outline: none;
  cursor: pointer;

  &.primary {
    border: 1px solid $cambalache-orange;
    background: $cambalache-orange;
    color: $cambalache-white;
  }

  &.secondary {
    border: 1px solid $cambalache-orange;
    background: $cambalache-white;
    color: $cambalache-black;
  }

  &.negative, &.red {
    border: 1px solid $cambalache-red;
    background: $cambalache-red;
    color: $cambalache-white;
  }

  &.positive, &.green {
    border: 1px solid $cambalache-green;
    background: $cambalache-green;
    color: $cambalache-white;
  }

  &.inline {
    display: inline;
  }

  &.fitted {
    margin: 0;
  }

  &:hover {
    opacity: 0.75;
    font-weight: bold;
  }
}
