@use "sass:list";

.button {
  min-height: 30px;
  margin: 0px 5px;
  padding: 0 20px;
  border: 0px none transparent;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  cursor: pointer;

  @each $name in $names {
    $index: list.index($names, $name);
    $value: list.nth($colors, $index);

    &.#{$name} {
      border: 1px solid $value;
      color: $cambalache-white;
      background: $value;
    }

    &.#{$name}.inverted {
      color: $value;
      background: $cambalache-white;
    }

    &.#{$name}.empty {
      color: $value;
      background-color: transparent;
    }
  }

  &.primary {
    border: 1px solid $cambalache-orange;
    background: $cambalache-orange;
    color: $cambalache-white;
  }

  &.secondary {
    border: 1px solid $cambalache-orange;
    background: $cambalache-white;
    color: $cambalache-black;
  }

  &.inline {
    display: inline;
  }

  &.fitted {
    margin: 0;
  }

  &.borderless {
    border: 0px none transparent;
  }

  &:hover {
    opacity: 0.75;
  }
}
