.error {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .title {
        font-size: 80px;
        margin-bottom: 0;
    }
    .message {
        text-align: center;
        font-size: 32px;
        width: 35%;
    }
}