.landing h1 {
    font-size: 2.75em;
    font-weight: normal;
    text-transform: uppercase;
}

.landing h2 {
    font-weight: 200;
}

.wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 60% 40%;
    grid-template-areas: " a b "
                         " c d " ;
    position: absolute;
    overflow: hidden;
    padding:0;
    margin:0;
    top:0;
    left:0;
    // width: 95%;
    height: 95%;
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
    padding-left: 5%;
    background-color: #efefef;
}
.d {
    grid-area: d;
    background-color: #efefef;
    margin-left: 9%;
    margin-right: -15%;
}

#book-img {
    width:150%;
    margin-top: -65%;
}

.banner-like {
    max-height: 100px;
}
.icon {
    max-height: 110px;
}

.black-text {
    color: black;
    text-align: center;
    font-size: 14pt;
    font-weight: 200;
}

.black-title {
    color: black;
    text-align: center;
    font-size: 16pt;
    font-weight: 300;
    text-transform: uppercase;
}

.book-column {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#start-today {
    height: 46px;
    line-height: 46px;
    padding: 0 60px;
    margin: 10px 0;
    border-radius: 25px;
    border-width: 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
}

#second-screen {
    position: relative;
    top: 110vh;
    padding-bottom: 50px;
}

.a-link {
    text-decoration: none;
    opacity: 0.7;
}

#timeline {
    border-color: #efefef;
    margin-bottom: 45px;
}

.margin-lesser {
    margin-top: -1%;
    text-align: center;
}

.initial {
    margin-left: 5%;
}

.title {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
