
.wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 60% 40%;
    grid-template-areas: " a b "
                         " c d " ;
}
  
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; padding-left: 5%; background-color: #EAEAEA;  }
.d { grid-area: d; background-color: #EAEAEA; margin-left: 9%; margin-right: -15%; }

#book-img {
    width:150%;
    margin-top: -65%;
}

.banner-like {
    max-height: 100px;
}
.icon {
    max-height: 110px;
}

.black-text {
    color: #0B0B0B;
    text-align: center;
    font-size: 14pt;
}

.black-title {
    color: #0B0B0B;
    text-align: center;
    font-size: 16pt;
}

.wrapper {
    position: absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 95%;
    height: 95%;
}

.book-column {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#start-today {
    align-self: center;
    margin-bottom: 10px;
}

#second-screen {
    position: relative;
    top: 110vh;
    padding-bottom: 50px;
}

.a-link {
    text-decoration: none;
}

#timeline {
    border-color: #EAEAEA;
    margin-bottom: 45px;
}

.margin-lesser {
    margin-top: -1%;
    text-align: center;
}

.initial {
    margin-left: 5%;
}

.title {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
