html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body, a, p, span {
  color: $cambalache-white;
}

body {
  background: linear-gradient(to bottom right, $cambalache-brown 0%, $cambalache-yellow 100%);
  background-attachment: fixed;
  padding: 60px 5%;
  // margin: 0 5%;
}

* {
  font-family: Raleway;
}

a {
  transition: all 50ms ease-in;
  &:hover {
    font-weight: bold;
  }
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    height: 100%;

    a {
      text-decoration: none;
      height: 100%;
      line-height: 20px;
      padding: 0 10px;
    }
  }
}

#logo {
  padding-left: 10px;
  margin: 12.5% 0;
  height: 75%;
  img {
    height: 100%;
  }
}

.icon-button {
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  color: $cambalache-white;
  &:hover {
    color: white;
  }
}

.actions-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  form {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    .button {
      width: 80%;
    }
  }
}
