.reviews-container {
    display: flex;
    flex-flow: column nowrap;
}

.review {
    margin-bottom: 30px;
    .username {
        font-weight: bold;
        text-decoration: none;
    }
    .comment {
        position: relative;
        text-align: justify;
        .text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        label {
            font-style: italic;
            cursor: pointer;
            position: absolute;
            top: 100%;
        }
        input {
            display: none;
        }
        label:after {
            content: "... show more";
        }
        input:checked + label:after {
            content: "(show less)";
        }
        input:checked ~ .text {
            overflow: initial;
            text-overflow: initial;
            white-space: initial;
        }
    }
}

form.review {
    .review-area {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        background: $cambalache-white;
        border-radius: 10px;
        padding: 15px;

        .rating {
            display: inline;
            margin: 0px 5px;
        }
    }
    textarea {
        width: 100%;
        resize: vertical;
        min-height: 50px;
        outline: none;
        border: none;
        border-radius: 10px;
        background: $cambalache-white;
        font-size: 16px;
    }
    .button {
        margin-right: 0;
        width: 200px;
    }
    .select {
        cursor: pointer;
        font-size: 20px;
        padding: 4px;
        margin: 0 -4px;
    }
    .select-hover {
        color: $cambalache-yellow;
        text-shadow: -1px 0 $cambalache-brown, 0 1px $cambalache-brown, 1px 0 $cambalache-brown, 0 -1px $cambalache-brown;
    }
}
