.flex-row {
    display: flex;
    flex-direction: row;
    margin-left: -5.55555%;
    margin-right: -5.55555%;
}

.flex-column {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex: 50%;
    padding: 15px;
}

.flex-column_full {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex: 100%;
    padding: 15px;
    margin-left: -5.55555%;
    margin-right: -5.55555%;
}

.interest-count {
    font-style: italic;
}

ul {
    list-style: none;
    line-height: 2.0;
}

.quadrant1 {
    background:rgba(0,0,0,0.05);
}

.quadrant2 {
    background:rgba(0,0,0,0.1);
}

.quadrant3 {
    background:rgba(0,0,0,0.2);
}

.quadrant4 {
    background:rgba(0,0,0,0.3);
}

.exchange {
    display: flex;
    align-content: center;
    justify-content: center;
}

.bolded {
    font-weight: bold;
    font-style: italic;
}

.flex-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-exchange-container {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.flex-form-center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 165px;
    margin-left: 10px;
}

.user-info {
    display: flex;
    height: 150px;
    margin: 20px;
    div:nth-child(1) {
        margin-right: 25px;
        img {
            border-radius: 50%;
            object-fit: cover;
            height: 150px;
            width: 150px;
        }
    }
    div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
            margin-top: 0;
            font-style: italic;
        }
    }
}
