$cambalache-brown: #8E4631;
$cambalache-orange: #D4A25E;
$cambalache-yellow: #FFD13D;
$cambalache-black: #0B0B0B;
$cambalache-white: #FAFAFA;
$cambalache-grey: #EAEAEA;
$cambalache-darkgrey: #737373;
$cambalache-green: green;
$cambalache-red: #D00000;

$colors: $cambalache-brown $cambalache-orange $cambalache-yellow
         $cambalache-black $cambalache-white $cambalache-grey
         $cambalache-darkgrey $cambalache-green $cambalache-red
         $cambalache-green $cambalache-red;

$names: brown orange yellow black white grey darkgrey green red positive negative;