<h3>
  Activation failed
</h3>

<p>Please try again or click the following button to resend the activation instructions:</p>

<form action="<%= resendActivationPath %>" method="post">
  <input type="submit" class="button secondary fitted" value="Resend activation email" />
</form>
