<h1>Users</h1>

 <ul>
  <% users.forEach((user) => { %>
    <li>
      <% if (currentUser) { %>
        <a href="<%= buildUserPath(user) %>"><%= user.username %></a>
      <% } else { %>
        <%= user.username %>
      <% } %>
    </li>
  <% }) %>
</ul>
